<%- include('./partials/header')%>


  <form action="/todo/create" method="POST" class="mt-5 container">
    <h3>Create your own todos</h3>
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input name="title" type="text" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Description</label>
      <input name="description" type="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Create Todo</button>
  </form>




  <%- include('./partials/footer')%>