<%- include('./partials/header')%>
    <h1>This is Home Page without Login...</h1>
    <a class="btn btn-info text-white" href="/user/register">Register</a>
    <a class="btn btn-primary text-white" href="/user/login">Login</a>
    <%- include('./partials/footer')%>